@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    cursor: url("../src/assets/cursor.svg"), auto;
}

body{
    display: grid;
    background-color: #0E0D0F;
    -webkit-font-smoothing: antialiased;
    margin: 16px;
    padding: 0;
    gap: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: white;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: #18171A;
    border-radius: 8px;
    border: 1px solid #333038;
}

main{
    height: 88vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 56px;
}

header{
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

canvas{
    width: 100% !important;
    height: auto !important;
    max-height: 100%;
    aspect-ratio: 1/1 !important;
}

section a{
    
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 16px 24px 16px;
    border-top: 1px solid #333038;
    gap: 8px;
}

button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin: 0;
    padding: 12px 16px 12px 16px;
    background-color: #242328;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    border: 1px solid #333038;
    border-radius: 8px;
    cursor: pointer;
    -webkit-transition: 0.3s;
}

h1{
    font-size: 14px;
    margin: 0;
}

a{
    display: flex;
    text-decoration: none;
    color: white;
    opacity: 1;
    -webkit-transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

p{
    display: flex;
    justify-content: center;
    margin: 0;
    gap: 8px;
}

p img{
    width: 14px;
}

label{
    cursor: url("../src/assets/cursor.svg"), auto;
}

input[type=number]{
    -webkit-appearance: none;
    display: flex;
    flex-direction: row;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
    text-decoration: none;
    text-align: right;
    align-items: center;
    padding-right: 4px;
    background-color: transparent;
    color: #B4B2C0;
    border: none;
    border-radius: 600px;
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}

input[type=color]{
	width: 24px;
    height: 24px;
	border: none;
	border-radius: 100%;
	background: none;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
    margin: 0; 
}

input[type="color"]::-webkit-color-swatch {
    border: 2.5px solid rgb(119, 119, 119);
	border-radius: 100%;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 100%;
}

.right{
    order: 3;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.primary:hover{
    border: 1px solid #46424E;
}

.secondary{
    background-color: #18171A;
    border: none;
}

.secondary:hover{
    background-color: #242328;
}

.sidebar{
    min-width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #18171A;
    border: 1px solid #333038;
    border-radius: 8px;
    gap: 24px;
}

.sidebarTitle{
    padding: 16px;
    border-bottom: 1px solid #333038;
}

.sidebarContent{
    display: flex;
    flex-direction: column;
    padding: 0px 16px 0px 16px;
    gap: 14px;
}

.card{
    display: flex;
    flex-direction: column;
    padding: 14px 16px 14px 16px;
    background-color: #242328;
    border: 1px solid #333038;
    border-radius: 8px;
    gap: 16px;
}

.color{
    justify-content: space-between;
}

.logo {
    width: 100px;
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
    margin-bottom: 20px;
}

.inputs:last-child{
    margin-bottom: 20px;
}

.buttonIcons{
    width: 12px;
}

.inputIcons{
    width: 14px;
}

.label{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    gap: 8px;
}

.labelValue{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.labelValue span{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px 4px 8px;
    background-color: #35333B;
    border-radius: 600px;
    color: #B4B2C0;
    line-height: 100%;
}

#valueMatrix{
    padding: 0px;
    background-color: transparent;
}

.card input[type=range]{
    -webkit-appearance: none;
    background-color: #2B2A30;
    cursor:ew-resize;
    border: 1px solid #3B3840;
    border-radius: 600px;
}

.card input::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: rgb(255, 255, 255);
    width: 10px;
    height: 10px;
    border-radius: 600px;
}

.card input[type=checkbox]{
    cursor:pointer;
}

.credits{   
    color: #A3A6A7;
    width: 100%;
    font-size: 12px;
}