@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    gap: 8px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    cursor: url("../src/assets/cursor.svg"), auto;
    color: white;
}

body canvas{
    width: 92vh !important;
    height: 92vh !important;
    margin: 32px 0px 32px 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

a{
    display: flex;
    text-decoration: none;
    color: white;
    opacity: 1;
    -webkit-transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

p{
    display: flex;
    justify-content: center;
    margin: 0;
    gap: 8px;
}

p img{
    width: 14px;
}

label{
    cursor: url("../src/assets/cursor.svg"), auto;
}

input[type=color]{
	width: 30px;
	height: 28px;
	border: none;
	border-radius: 100%;
	background: none;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    width: 100%;
	padding: 0;
    margin: 0;
    
}

input[type="color"]::-webkit-color-swatch {
    width: 100%;
    border: 2.5px solid rgb(119, 119, 119);
	border-radius: 100%;
}

.headerAction{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.logo {
    width: 135px;
    height: 18.67px;
    border-radius: 4px;
}

.githubLogo{
    width: 24px;
    opacity: 1;
    -webkit-transition: 0.3s;
}

.githubLogo:hover{
    opacity: 0.6;
}

.leftSide{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 340px;
    margin: 32px 0px 32px 0px;
    padding: 32px;
    height: auto;
    background-color: rgba(229, 231, 245, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
    margin-bottom: 20px;
}

.inputs:last-child{
    margin-bottom: 20px;
}

.inputIcons{
    width: 16px;
}

.label{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.input{
    display: flex;
    flex-direction: column;
    padding: 14px;
    background-color: rgba(229, 231, 245, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    gap: 12px;
    opacity: 0.6;
    -webkit-transition: 0.3s;
}

.input:hover{
    opacity: 1;
}

.input:last-child{
    margin: 0;
}

.labelValue{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 4px 0px 4px;
}

.input input[type=range]{
    -webkit-appearance: none;
    background-color: rgba(229, 231, 245, 0.07);
    cursor:ew-resize;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 600px;
}

.input input::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: rgb(255, 255, 255);
    width: 12px;
    height: 12px;
    border-radius: 600px;
}

.input input[type=checkbox]{
    cursor:pointer;
}

.leftSide .buttons{
    display: flex;
    width: 100%;
    gap: 8px;
}

.iconButton img{
    width: 20px;
}

.leftSide button{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 16px;
    color: white;
    background-color: rgba(229, 231, 245, 0.07);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    align-items: center;
    cursor: url("../src/assets/cursor.svg"), auto;
    -webkit-transition: 0.3s;
}

.leftSide button:hover{
        background: rgba(255, 255, 255, 0.04);
}

.leftSide button:active{
    opacity: 0.7;
}

.leftSide button:first-child{
    width: 64px;
}

.credits{   
    color: rgb(110, 110, 110);
    background-color: rgba(229, 231, 245, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    width: 100%;
    padding: 8px 0px 8px 0px;
    font-size: 12px;
}